# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Anaconda
anaconda_projects/

# CatBoost
catboost_info/

# Operating System Files
.DS_Store
Thumbs.db